@font-face {
    font-family:'Titillium Web Regular' ;
    src: url(../../assets/fonts/TitilliumWeb-Regular.woff) format("woff"),
    url(../../assets/fonts/TitilliumWeb-Regular.woff2) format("woff2");
    font-weight:400;
}

@font-face {
    font-family: 'Titillium Web Semi Bold';
    src: url(../../assets/fonts/TitilliumWeb-SemiBold.woff) format("woff"),
    url(../../assets/fonts/TitilliumWeb-SemiBold.woff2) format("woff2");
    font-weight:600;
}