$tablet-breakpoint: 48rem; // 768px
$desktop-breakpoint: 80rem; // 1280px

$desktop-content-width: 63.75rem; // 1020px

//Colors
$inStock-Black:#13182C;
$inStock-Indigo: #2E66E5;
$white: #ffffff;
$slate:#5C667E;
$cloud:#BDC5D5;
$graphite:#232940;
$lightGrey:#F7F8F9;
$green:#158463;
$red:#C94515;





