.info {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    
    &__img {
        width: 100vw;
        height: 30rem;
        

    }
    &__text {
        width: 100%;
    }
    &__cat {
        width: 100%;
    }
}
