@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.find {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0.5rem 0;
    }

    &__subtitle {
        margin: 0.5rem 0;
        margin-top: 2rem;
        margin-bottom: 1.5rem;

    }
}

.form {

    display: flex;
    flex-direction: column;

    

    &__item-box {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    }

    &__pebble-div {
        display: flex;
        margin: 0.5rem 0;
    }

    &__pebble-label {
        min-width: 8rem;
        margin-right: 2rem;
        line-height: 2.25rem;
    }
    
    &__pebble-box {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        border: none;
        border-radius: 1.25rem;
        padding: 0 1rem;
        height: 2.375rem;
        margin: 1rem 0;
        font-size: .8125rem;
        font-weight: bold;
        width: 50%;
        background-color: $inStock-Indigo;
        color: white;

        align-self: flex-end;
        width: 15rem;

        &:hover {
            background-color: $graphite;
        }

        &--cancel {
            background-color: white;
            color: $slate;
            border: 0.0625rem solid $cloud;

            &:hover {
                border-color: $inStock-Indigo;
                background-color: white;
                color: $inStock-Indigo;
            }
        }
    }
}