@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.rec {

    &__item {
        margin: 0.5rem 0
    }

    &__img {
        max-width: 100%;
        max-height: 20rem;
        box-shadow: 0px .125rem .3125rem $slate;
        margin-right: 2rem;

    }

    &__content {
        display: flex;
    }
    
    &__summary {
    }
}